/* VARIABLES */
/* GLOBALES */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  color: #7a7a7a; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #f1f1f1 !important;
  min-height: 100vh;
  font-family: "Quicksand"; }

h1 {
  color: #232323;
  font-weight: bold;
  font-size: 3.4em;
  text-align: center; }

h2 {
  text-align: center;
  font-size: 2.6em;
  color: #232323;
  font-weight: bold;
  margin-bottom: 2rem; }

img {
  width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none !important;
  display: inline-block; }
  a:hover {
    color: #7a7a7a; }
  a:visited {
    color: #7a7a7a; }

.container-wid {
  max-width: 1360px;
  margin: 0 auto; }

/* PARTIALS */
/* Header */
header {
  background-color: #ffff;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  font-family: "Quicksand"; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0; }
  header .logo {
    flex-basis: 30%; }
    header .logo__img {
      width: 4rem;
      padding: 1rem 0; }
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 40%;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 600; }
    header .menu__item, header .menu .menu__item--active {
      padding: .5rem; }
      header .menu__item a, header .menu .menu__item--active a {
        color: #7a7a7a;
        position: relative;
        overflow: hidden;
        display: inline-block;
        text-decoration: none; }
        header .menu__item a:after, header .menu .menu__item--active a:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: #333;
          transition: left .8s; }
        header .menu__item a:hover:after, header .menu .menu__item--active a:hover:after {
          left: 0; }
    header .menu .menu__item--active {
      color: #232323;
      padding: unset; }

@media (max-width: 768px) {
  header .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  header .logo {
    display: flex;
    justify-content: center; } }

@media (max-width: 480px) {
  header .menu {
    display: flex;
    flex-direction: column !important;
    align-items: center; }
  header .logo__img {
    width: 7rem; } }

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #f1f1f1;
  font-family: "Quicksand"; }
  footer p {
    text-align: center;
    font-size: 1.4em;
    font-weight: 700; }

/* VIEWS */
/* HOME */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 2rem; }
  .main .carousel {
    z-index: -1;
    width: 65%; }
  .main__img {
    box-shadow: inset 0px 0px 15px 0 rgba(0, 0, 0, 0.6);
    width: 70%;
    min-width: 450px;
    border-radius: 5px; }
    .main__img img {
      height: 100%;
      border-radius: 5px; }
  .main .about {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .main .about__text {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      flex-basis: 50%; }
      .main .about__text h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.6em;
        color: #232323;
        font-weight: 600; }
      .main .about__text p {
        text-align: center;
        font-size: 1.7em; }
    .main .about__img {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-basis: 50%;
      opacity: .7;
      z-index: -1; }
      .main .about__img img {
        width: 35rem; }

@media (max-width: 768px) {
  .main .carousel {
    width: 100%; }
  .main .about {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
    .main .about__img img {
      width: 25rem; } }

@media (max-width: 480px) {
  .main__img {
    min-width: auto;
    width: 100%; }
  .main .about {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
    .main .about__img img {
      width: 20rem; }
  .main .carousel {
    width: 100%; } }

/* Servicios */
.container-services {
  display: flex;
  flex-direction: column; }

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: space-evenly;
  margin: 3rem 0; }
  .services__information {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-basis: 50%; }
    .services__information .services__title {
      text-align: center;
      font-size: 2.6em;
      color: #7a7a7a;
      font-weight: bold; }
    .services__information .services__description {
      text-align: center;
      font-size: 1.6em;
      align-items: flex-end;
      font-family: "Quicksand"; }
  .services__picture {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 15rem;
    background-color: #ffff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    overflow: hidden; }
    .services__picture img {
      width: 9rem;
      transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out; }
    .services__picture:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
      .services__picture:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

@media (max-width: 768px) {
  .container-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
  .services {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    padding: 2rem; } }

@media (max-width: 480px) {
  .container-services {
    display: flex;
    flex-direction: column; } }

/* Productos */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  text-transform: uppercase;
  margin: 1rem; }
  .products .article {
    background: #ffff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center; }
    .products .article img {
      box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2); }
    .products .article__information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 7.5rem;
      box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.2);
      padding: .7rem 0; }
      .products .article__information p {
        margin-block-start: 0;
        margin-block-end: 0; }
      .products .article__information .article__name {
        color: #7a7a7a;
        font-size: 1.4em;
        font-weight: bold; }
      .products .article__information .article__price {
        font-size: 1.6em;
        font-weight: bold;
        color: #232323; }
      .products .article__information .dropdown {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.9rem; }
        .products .article__information .dropdown button {
          text-transform: uppercase;
          font-weight: bold; }
        .products .article__information .dropdown-menu {
          font-weight: bold; }
          .products .article__information .dropdown-menu .dropdown-item {
            font-weight: bold; }
            .products .article__information .dropdown-menu .dropdown-item:active {
              color: #232323;
              background-color: #f1f1f1; }

.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  background-position: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2); }

.grafico--amigos {
  background-image: url(../Images/aballay-009-tomandomate.jpg);
  grid-row: 5 / 6;
  grid-column: 2/ 4; }

.grafico--mate {
  grid-row: 2 / 3;
  background-image: url(../Images/cocinillas_222490552_116348469_1706x960.jpg);
  background-position: right; }

@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
  .grafico--amigos {
    grid-row: 6 / 7;
    grid-column: 1 / 3; } }

@media (max-width: 480px) {
  .products {
    display: flex;
    flex-direction: column; }
    .products .article__information {
      height: 9rem; }
      .products .article__information .article__name {
        font-size: 1.9em; }
      .products .article__information .article__price {
        font-size: 1.9em; }
  .container-wid {
    margin: 0 3rem; }
  .grafico {
    display: none; } }

/* Nosotros */
.btnes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem; }
  .btnes .btn-primary {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #232323;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 23rem;
    text-align: center;
    border: none;
    font-family: "Quicksand" !important;
    border: solid 2px #f1f1f1;
    transition: border-color .3s ease-in-out;
    padding: .5rem; }
    .btnes .btn-primary:hover {
      border-color: #7a7a7a;
      background-color: #f1f1f1;
      color: #232323; }
    .btnes .btn-primary:active {
      background-color: #f1f1f1;
      color: #232323; }
    .btnes .btn-primary:focus {
      background-color: #f1f1f1;
      border-color: #232323;
      color: #232323;
      border: none;
      box-shadow: none; }

.offcanvas-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.offcanvas-bottom {
  height: 50vh !important; }

.us {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 3rem 0;
  padding: 0 2rem; }
  .us__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    flex-basis: 50%; }
    .us__information .us__title {
      font-size: 2.6em;
      text-align: center; }
    .us__information .us__description {
      font-size: 1.6em;
      text-align: center; }
  .us__img {
    flex-basis: 40%;
    width: 100%;
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../Images/272403231_982318905692871_7304337415488503772_n.webp.jpg); }

.location {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 3rem 0;
  padding: 0 2rem; }
  .location__gps {
    flex-basis: 50%;
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden; }
    .location__gps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .location__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    flex-basis: 50%; }
    .location__information .location__title {
      font-size: 2.6em;
      text-align: center; }
    .location__information .location__description {
      font-size: 1.6em;
      text-align: center; }

@media (max-width: 768px) {
  .us {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 3rem; }
  .location {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 0 3rem; }
    .location__gps {
      display: flex;
      justify-content: center; }
  .offcanvas-body {
    display: flex; } }

@media (max-width: 480px) {
  .us {
    padding: 0 3rem; }
    .us__img {
      flex-basis: 40%;
      width: 100%;
      min-height: 26rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
      background-image: url(../Images/272403231_982318905692871_7304337415488503772_n.webp.jpg); } }

.formulario {
  background-image: linear-gradient(to bottom, #999595, #8a8686, #7a7878, #6b6a6a, #5d5c5c);
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem; }
  .formulario fieldset {
    border: none; }
  .formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #232323; }
  .formulario .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 1rem; }
    .formulario .contenedor-campos .campo {
      margin-bottom: 1rem; }
      .formulario .contenedor-campos .campo:nth-child(3) {
        grid-column: 1 / 3; }
      .formulario .contenedor-campos .campo:nth-child(4) {
        grid-column: 1/3; }
      .formulario .contenedor-campos .campo textarea {
        height: 20rem; }
      .formulario .contenedor-campos .campo label {
        color: #f1f1f1;
        margin-bottom: 1rem;
        font-size: bold;
        display: block; }

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 1rem; }

.enviar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.boton {
  background-color: #f1f1f1;
  color: #7a7a7a;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  border: none;
  width: auto; }
  .boton:hover {
    cursor: pointer; }

@media (max-width: 768px) {
  .formulario .contenedor-campos {
    display: flex;
    flex-direction: column; }
  .separate {
    padding: 0 2rem; } }
