
footer {
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: $--principal;
    p {
        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
    }
}
