header {
    background-color: $--secondary ;
    /* position: sticky; */
    top: -1px;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.20);
    margin-bottom: 2rem;
    font-family: map-get($fonts, sans);
    .navbar {
        @include flex(row, center, center, 0)
    }
    .logo {
        flex-basis: 30%;
        &__img {
            width: 4rem;
            padding: 1rem 0;
        }
    }
    .menu {
        @include flex(row, space-between, null, null);
        flex-basis: 40%;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 600;
        &__item {
            border: solid 2px $--secondary;
            transition: border-color .3s ease-in-out;
            padding: .5rem;
            &:hover {
                border-color: $--font-grey;
            }
            a {
                color: $--font-grey;
            }
        }
        .menu__item--active {
            @extend .menu__item;
            border-bottom: 2px solid $--font-grey;
        }

    }
}

@media (max-width: 768px) {

    header {
        .navbar {
            @include flex(null, center, null, null);
            flex-wrap: wrap;
        }
        .logo {
            @include flex(null, center, null, null);
        }
    }


}

@media (max-width: 480px) {

    header {
        .menu {
            @include flex(column !important, null, center, null);
        }
        .logo {
            &__img {
                width: 7rem;
            }
        }
    }
}
