header {
    background-color: $--secondary ;
    /* position: sticky; */
    top: -1px;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.20);
    margin-bottom: 2rem;
    font-family: map-get($fonts, sans);
    .navbar {
        align-items: center;
        justify-content: center;
    }
    .logo {
        flex-basis: 30%;
        &__img {
            width: 4rem;
            padding: 1rem 0;
        }
    }
    .menu {
        flex-basis: 40%;
        justify-content: space-between;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 600;
        &__item {
            border: solid 2px $--secondary;
            transition: border-color .3s ease-in-out;
            padding: .5rem;
            &:hover {
                border-color: $--font-grey;
            }
            a {
                color: $--font-grey;
            }
        }

    }
}

@media (max-width: 768px) {

    header {
        .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }
        .logo {
            display: flex;
            justify-content: center;
        }
    }


}

@media (max-width: 480px) {

    header {
        .menu {
            flex-direction: column !important;
            /* Con esto normalice bootstrap en cel */
            align-items: center;
        }
        .logo {
            &__img {
                width: 7rem;
            }
        }
    }
}
