/* HOME */

.main {
    @include flex(column, null, center, 5rem);
    padding: 2rem;
    .carousel {
        width: 65%;
    }
    &__img {
        box-shadow: inset 0px 0px 15px 0 rgba(0, 0, 0, 0.60);
        width: 70%;
        min-width: 450px;
        border-radius: 5px;
        img {
            height: 100%;
            border-radius: 5px;
        }
    }    
    .about {
        @include flex(row, null, center, null);
        &__text {
            @include flex(column, null, null, 4rem);
            flex-basis: 50%;
            h2 {
                text-transform: uppercase;
                text-align: center;
                font-size: 2.6em;
                color: $--font-black;
                font-weight: 600;
            }
            p {
                text-align: center;
                font-size: 1.7em;
            }
        }    
        &__img {
            @include flex(row, flex-end, null, null);
            flex-basis: 50%;
            opacity: .7;
            z-index: -1;
            img {
                width: 35rem;
            }
        }    
    }
}

@media (max-width: 768px) {

    .main .carousel {
        width: 100%;
    }

    
    .main {
        .about {
            @include flex(column, null, null, 5rem);
            &__img {
                img {
                    width: 25rem;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .main {
        &__img {
            min-width: auto;
            width: 100%;
        }
        .about {
            @include flex(column, null, null, 5rem);
            &__img {
                img{
                    width: 20rem;
                }
            }
        }    
        .carousel {
            width: 100%;
        }
        

    }
}
