/* NOSOTROS */

/* INICIO BOOTSTRAP */

.btnes {
    @include flex(column, center, center, 10rem);
    .btn-primary {
        background-color: $--principal;
        border-color: $--principal;
        color: $--font-black;
        margin-top: 3rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: .5rem;
        width: 23rem;
        text-align: center;
        border: none;
        font-family: map-get($fonts, sans) !important;
        border: solid 2px $--principal;
        transition: border-color .3s ease-in-out;
        padding: .5rem;
        &:hover {
            border-color: $--font-grey;
            background-color: $--principal;
            color: $--font-black;
        }
        &:active {
            background-color: $--principal;
            color: $--font-black;
        }
        &:focus {
            background-color: $--principal;
            border-color: $--font-black;
            color: $--font-black;
            border: none;
            box-shadow: none;
        }
    }
    .offcanvas-bottom.show {
        height: 40rem;
    }
}

/* CIERRE BOOTSTRAP */

.us {
    @include flex(column, null, null, 5rem);
    margin: 3rem 0;
    padding: 0 2rem;
    &__information {
        @include flex(column, center, null, 3rem);
        flex-basis: 50%;
        .us__title {
            font-size: 2.6em;
            text-align: center;
        }
        .us__description {
            font-size: 1.6em;
        }
    }
    &__img {
            flex-basis: 40%;
            width: 100%;
            min-height: 30rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.20);
            background-image: url(../Images/272403231_982318905692871_7304337415488503772_n.webp.jpg);
    }
}



.location {
    @include flex(row, null, null, 5rem);
    margin: 3rem 0;
    padding: 0 2rem;
    &__gps {
        flex-basis: 50%;
        position: relative;
        padding-bottom: 30%;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__information {
        @include flex(column, center, null, 3rem);
        flex-basis: 50%;
        .location__title {
            font-size: 2.6em;
            text-align: center;
        }
        .location__description {
            font-size: 1.6em;
        }
    }

}

@media (max-width: 768px) {
    .us {
        @include flex(column, null, null, 3rem);
        padding: 0 3rem;
    }

    .location {
        @include flex(column-reverse, null, null, 3rem);
        padding: 0 3rem;
        &__gps {
            @include flex(null, center, null, null);
        }
    }

}

@media (max-width: 480px) {
    .us {
        padding: 0 3rem;
        &__img {
            flex-basis: 40%;
            width: 100%;
            min-height: 26rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.20);
            background-image: url(../Images/272403231_982318905692871_7304337415488503772_n.webp.jpg);
        }
    }
}
