/* Productos bootstrap */

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    text-transform: uppercase;
    margin: 1rem;
    .article {
        background: $--secondary;
        box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.20);
        text-align: center;
        img {
            box-shadow: inset 0px 0px 10px 0 rgba(0, 0, 0, 0.20);
        }   
        &__information {
            flex-flow: nowrap;
            height: 7.5rem;
            box-shadow: inset 0px -3px 2px -2px rgba(0, 0, 0, 0.20);    
            justify-content: center;
            /* gap: .7rem;  COMENTO PARA BOOTSTRAP */
            padding: .7rem 0;
            p {
                margin-block-start: 0;
                margin-block-end: 0;
            }
            .article__name {
                color: $--font-grey;
                font-size: 1.4em;
                font-weight: bold;
            }
            .article__price {
                font-size: 1.6em;
                font-weight: bold;
                color: $--font-black;
            }
            .dropdown {
                padding-right: 0.9rem;
                button {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &-menu {
                    font-weight: bold;
                    .dropdown-item {
                        font-weight: bold;
                    }
            }
        }
    }
    .grafico {
        min-height: 30rem;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / 3;
        background-position: center;
        box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.20);
    }
    .grafico--amigos {
        background-image: url(../Images/aballay-009-tomandomate.jpg);
        grid-row: 5 / 6;
        grid-column: 2/ 4;
    }
    .grafico--mate {
        grid-row: 2 / 3;
        background-image: url(../Images/cocinillas_222490552_116348469_1706x960.jpg);
    }
}
}


@media (max-width: 768px) {
        /* Productos  */

        .products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem
        }
    
        .grafico--amigos {
            grid-row: 6 / 7;
            grid-column: 1 / 3;
        }

}

@media (max-width: 480px) {
        /* Productos  */

        .products {
            display: flex;
            flex-direction: column;
        }
    
        .container-wid {
            margin: 0 3rem;
        }
    
        .article {
            &__information {
            height: 8rem;
            }
            &__name {
                font-size: 1.9em;
            }
            &__price {
                font-size: 1.9em;
            }
        }
        .grafico {
            display: none;
        }
}
