/* Servicios */

.container {
    &-services {
        @include flex(column, null, null, null)
    }
}
.services {
    @include flex(row, space-evenly, null, null);
    justify-content: space-evenly;
    margin: 3rem 0;
    &__information {
        @include flex(column, null, null, 3rem);
        flex-basis: 50%;
        .services__title {
            text-align: center;
            font-size: 2.6em;
        }
        .services__description {
            text-align: justify;
            font-size: 1.6em;
            align-items: flex-end;
            font-family: map-get($fonts, roboto);
        }
    }
    &__picture {
        @include flex(row, space-evenly, center, null);
        height: 15rem;
        width: 15rem;
        background-color: $--secondary;
        border-radius: 50%;
        box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.60);
        img {
            width: 9rem;
        }
    }
}

@media (max-width: 768px) {
    .container-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .services {
        @include flex(column-reverse, null, center, 3rem);
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    .container-services {
        @include flex(column, null, null, null);
    }
}
