/* Helpers */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.container-wid {
    max-width: 1360px;
    margin: 0 auto;
}
