
$--principal: #f1f1f1;
$--secondary: #ffff;
$--font-grey: #7a7a7a;
$--font-black: #232323;
$--font-primary: 'Quicksand', sans-serif;

/* MAPA */

$fonts: (
    sans: "Quicksand", 
    roboto: "Roboto"
);